<!DOCTYPE html>
<html>

<head>
  <%- include ('partials/head.ejs') %>
  <link rel="stylesheet" href="/css/password.css">
</head>

<body class="hold-transition login-page">
  <div class="login-box">
    <div class="login-logo">
      <a href="/home"><b>BIZ</b>tron</a>
    </div>
    <!-- /.login-logo -->
    <div class="card">
      <div class="card-body login-card-body">
        <p class="login-box-msg">Change password</p>
        <% if(locals.message){ %>
          <div class="alert-danger">
            <%= message %>
        </div>
        <% } %>

        <form name="f1" action="/users/change_pass" method="post">
          <div class="input-group mb-3">
            <input type="password" name="old" class="form-control" placeholder="Old Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="new" id="psw" class="form-control" placeholder="New Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div class="input-group mb-3">
            <input type="password" name="confirm" id="cfm_psw" class="form-control" placeholder="Confirm Password">
            <div class="input-group-append">
              <div class="input-group-text">
                <span class="fas fa-lock"></span>
              </div>
            </div>
          </div>
          <div id="pw_message">
            <h3>Password must contain the following:</h3>
            <p id="letter" class="invalid">A <b>lowercase</b> letter</p>
            <p id="capital" class="invalid">A <b>capital (uppercase)</b> letter</p>
            <p id="number" class="invalid">A <b>number</b></p>
            <p id="length" class="invalid">Minimum <b>8 characters</b></p>
          </div>
          <div id="cfm_message">
            <p id="match" class="invalid">Match</p>
          </div>
          <div class="row">
            <div class="col-12">
              <button type="submit" class="btn btn-primary btn-block">Change password</button>
            </div>
            <!-- /.col -->
          </div>
        </form>


      </div>
      <!-- /.login-card-body -->
    </div>
  </div>
  <!-- /.login-box -->

  <%- include ('partials/footer.ejs') %>
  <script src="/js/passwordcheck.js"></script>
</body>

</html>